<a href="https://colab.research.google.com/github/DINESHBALAJI171/dineshbalaji/blob/main/Data%20type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Integer
a = 10
print("a =", a, "| Type:", type(a))

# Float
b = 3.14
print("b =", b, "| Type:", type(b))

# String
c = "Hello, World!"
print("c =", c, "| Type:", type(c))

# Boolean
d = True
print("d =", d, "| Type:", type(d))

# List
e = [1, 2, 3, 4, 5]
print("e =", e, "| Type:", type(e))

# Tuple
f = (10, 20, 30)
print("f =", f, "| Type:", type(f))

# Set
g = {1, 2, 3}
print("g =", g, "| Type:", type(g))

# Dictionary
h = {"name": "balaji", "age": 20}
print("h =", h, "| Type:", type(h))

# NoneType
i = None
print("i =", i, "| Type:", type(i))

a = 10 | Type: <class 'int'>
b = 3.14 | Type: <class 'float'>
c = Hello, World! | Type: <class 'str'>
d = True | Type: <class 'bool'>
e = [1, 2, 3, 4, 5] | Type: <class 'list'>
f = (10, 20, 30) | Type: <class 'tuple'>
g = {1, 2, 3} | Type: <class 'set'>
h = {'name': 'balaji', 'age': 20} | Type: <class 'dict'>
i = None | Type: <class 'NoneType'>